/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align:center;
  color: #eee;
  font-size:13px;
}
h4 {
  text-align:center;
  font-size:17px;

}
.grid {
  margin: 0;

}
.col-1-4 {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
.module {
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  color: #eee;


  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 12px;
    min-height: 250px;
    min-height: 250px;
 }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
    min-height: 250px;
    min-height: 250px;
    font-size: 14px;
  }
}

